<%- include('templates/header', { title: "403 Forbidden", username: username, user_type: user_type }) %>

<div class="text-center">
  <h1 class="display-4">403 - Forbidden</h1>
  <p class="lead">You do not have permission to access this page.</p>
  <a href="/" class="btn btn-primary">Go Back Home</a>
</div>

<%- include('templates/footer') %>
